<IfModule mod_rewrite.c>
	
	#Turn rewrite engine on
	RewriteEngine on

	#Rewrite pages
	#Competition
	RewriteRule ^Competitie/Programma_&_Uitslagen/?$ competition.php [NC,L,QSA]
	
	#Agenda
	RewriteRule ^Agenda/?$ agenda.php [NC,L,QSA]	
	
	#Photos
	RewriteRule ^Fotos/?$ photos.php [NC,L,QSA]
    RewriteRule ^Fotos/(\w+)/?$ photo_browser.php?album=$1 [NC,L,QSA]
	
	#Contact
	RewriteRule ^Contact/?$ contact.php [NC,L,QSA]
	
	#Member area
	RewriteRule ^Leden/?$ private.php [NC,L,QSA]
	
	#Login/Register
	RewriteRule ^Login/?$ login.php [NC,L,QSA]
    RewriteRule ^Uitloggen/?$ logout.php [NC,L,QSA]
    RewriteRule ^Registreren/succes/?$ register.php?succes [NC,L,QSA]    
    RewriteRule ^Registreren/?$ register.php [NC,L,QSA]
    RewriteRule ^Wachtwoord_vergeten/?$ reset_password.php [NC,L,QSA]
    RewriteRule ^Wachtwoord_vergeten/reset/?$ reset_password.php?reset [NC,L,QSA]

	#Subpages
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d	
	RewriteRule ^(\w+)/([\wÀÁÂÃÄÅàáâãäåÒÓÔÕÖØòóôõöøÈÉÊËèéêëÇçÌÍÎÏìíîïÙÚÛÜùúûüÿÑñ!-_]+)/$ page.php?parentName=$1&pageName=$2 [NC,L,QSA]
	
	RewriteRule ^Vereniging/ Vereniging/Info/ [NC,L,QSA]
	RewriteRule ^Toernooien/ Toernooien/Toernooikalender/ [NC,L,QSA]
	RewriteRule ^Veluwecup/ Veluwecup/index.php [NC,L,QSA]
	
	#News
	RewriteRule ^Nieuwsarchief/?$ archive.php [NC,L,QSA]
	RewriteRule ^Nieuws/(\d+)/([\wÀÁÂÃÄÅàáâãäåÒÓÔÕÖØòóôõöøÈÉÊËèéêëÇçÌÍÎÏìíîïÙÚÛÜùúûüÿÑñ!-_\(\)]+)$ news.php?id=$1&title=$2 [NC,L,QSA]
	
	#Sitemap
	RewriteRule ^Sitemap/?$ sitemap.php [NC,L,QSA]
	
	#Remove 'www' from any url
	#RewriteCond %{HTTP_HOST} ^www\.petervenhuizen\.nl$ [NC]   
	#RewriteRule ^(.*)$ http://petervenhuizen.nl/$1 [R=301,L]  
	
	#Prevent Hotlinking and throw 403 warning
	#RewriteCond %{HTTP_REFERER} !^http://petervenhuizen\.nl/?.*$ [NC]  
	#RewriteRule \.(gif|jpe?g|png|bmp)$ – [F,NC] 	

	#Remove index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [L,QSA]
	
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [NC]
	RewriteRule ^ %1 [R=301,L]	
	
</IfModule>
