<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>     	
				<clear />
				<rule name="Rewrite to vcup contact.php">
				  <match url="^Contact/?"/>
				  <action type="Rewrite" url="contact.php"/>
				</rule>				
				<rule name="Rewrite vcup subpages">
				  <match url="^([a-z-_!é]+)/([a-z-_!é]+)/?"/>
				  <action type="Rewrite" url="page.php?parentName={R:1}&amp;pageName={R:2}"/>
				</rule> 
				<rule name="Rewrite vcup news">
				   <match url="^Nieuws/(\d+)/(.*)/?"/>
				   <action type="Rewrite" url="news.php?id={R:1}&amp;title={R:2}"/>
				</rule>               
			</rules>
		</rewrite>
	</system.webServer>
</configuration>